<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>

    <br>
    <h1> Contact Me! </h1>
    <div>
        <form action = {{url_for("/login")}} method = "post">
        <label>Username:</label>
        <input type = "text" placeholder = "username" name = "username" >
        <label>Password:</label>
        <input type = "text" placeholder = "password" name = "password">

        <button type="submit">OK</button>
        </form>
    </div>







</body>
</html>